    .cover__link {
        text-decoration: none;
        background-image: url(../../../images/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        max-width: 1184px;
        min-height: 640px;
        margin: 0 auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cover__link::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2A2C2F;
        opacity: 0.3;
        transition: 0.3s;
    }
    
    .cover__link:hover::before {
        opacity: 0.8;
        transition: 0.3s;
    }
    
    @media(max-width:1024px) {
        .cover__link {
            width: 1024px;
            min-height: 640px;
        }
    }
    
    @media(max-width:768px) {
        .cover__link {
            width: 768px;
            min-height: 480px;
        }
    }
    
    @media(max-width:320px) {
        .cover__link {
            width: 320px;
            min-height: 200px;
        }
    }