.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #fff;
    text-align: center;
    width: 720px;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media(max-width:320px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
    }
}