    .cover {
        max-width: 1184px;
        cursor: pointer;
        display: flex;
        margin: 0 auto;
        object-fit: cover;
        padding-top: 12px;
    }
    
    @media(max-width:768px) {
        .cover {
            padding-top: 15px;
        }
    }