.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-auto-flow: row;
    column-gap: 40px;
    row-gap: 48px;
    margin: auto;
    padding-bottom: 80px;
}

@media(max-width:1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media(max-width:768px) {
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media(max-width:320px) {
    .place {
        grid-template-columns: 320px;
        padding-bottom: 50px;
    }
}