    .place__header {
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 1.06;
        /* or 106% */
        color: #FFFFFF;
        align-self: start;
        max-width: 460px;
        margin: 0;
    }
    
    @media(max-width:1024px) {
        .place__header {
            padding-left: 28px;
        }
    }
    
    @media(max-width:768px) {
        .place__header {
            font-size: 42px;
            max-width: 330px;
            line-height: 46px;
            padding-left: 0;
        }
    }
    
    @media(max-width:320px) {
        .place__header {
            font-size: 32px;
            padding-left: 16px;
        }
    }