    .lead__illustration {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    
    @media(max-width: 1024px) {
        .lead__illustration {
            max-width: 928px;
            min-height: 580px;
        }
    }
    
    @media(max-width:768px) {
        .lead__illustration {
            max-width: 768px;
            min-height: 480px;
        }
    }
    
    @media(max-width:320px) {
        .lead__illustration {
            width: 320px;
            min-height: 200px;
        }
    }